[2016-09-17 14:15] BioPhoton opened #1 "Implement sc5 styleguide"
Setup a SC5 Styleguite to document the components css and agular options
- [x] setup gulp
- [x] setup sc5 styleguide
- [x] create gulp taks to generate the sc5 styleguide
- [x] create npm script entry to trigger gulp task
- [x] include all *.sc5.scss in the project in the styleguide
- [x] start initial documentation and menu structure

[2016-09-17 16:11] #1 closed

[2016-09-17 16:23] BioPhoton opened #2 "Setup unit tests, coverage reports and static code analysis"
- [x] Setup [karma ](https://karma-runner.github.io/1.0/index.html)
- [x] Implement [jasmine](http://jasmine.github.io/)
- [x] use them with webpack
- [x] Setup[ Intanbul](https://github.com/gotwarlost/istanbu)
- [ ] ~~Create report output in the console~~
- [ ] ~~Create report as html~~
- [ ] ~~Serve  report~~
- [x] Create npm taks
- [x] Write basic tests

[2016-09-17 16:31] BioPhoton opened #3 "Setup visual regression tests"
- [ ] Research for a good GUI tool for image comparison
- [ ] Setup automated screen shots
- [ ] Feed GUI tool with images
- [ ]  Think about CI integration

[2016-09-17 16:37] BioPhoton opened #4 "Setup UI tests"
- [ ] Setup protractor
- [ ] Create basic tests
- [ ] Research a reporting tool

[2016-09-17 16:37] BioPhoton opened #5 "Setup CI"
- [x] create .travis.yaml
- [x] let it pass the build
- [x] implement shield into readme

[2016-09-17 16:57] BioPhoton opened #6 "Styleguide and CSS polishing"
- [x] Text position: spacing of text and rating in default state
- [x] Disabled:
  - [x] Set some value for rating to demonstrate it with filled stars
  - [x] Remove disabled color and use actual one
- [x] Wrapper: add some css to the phone-simulator class and use it in every section
- [x] Component: add space between the rating components
- [x] Speed: Add docs for animation speed
- [x] Docs:
   -

[2016-09-17 17:05] BioPhoton opened #7 "Create demo/lading page"
- [x] Add Heading
- [x] Create ability to interact with all options possible via inputs
- [x] Use bootstrap 4 for the UI

[2016-09-17 17:15] BioPhoton opened #8 "Add inline documentation to the code"
- [x] Research for typescript documentation standards
- [ ] Autogenerate docs from you inline documentation
- [x] Add inline documentation for component controller

[2016-09-17 17:16] BioPhoton opened #9 "Create readme content"
- [x] Add shields B-)
- [x] Add cool intro
- [x] Present the css-only and the angular part shortly
- [x] Add links to:
  - [x] NPM
  - [x] Bower
  - [x] css-star-rating

[2016-09-17 20:31] #7 closed

[2016-09-18 15:26] BioPhoton commented on #8
Autogenerated docs are skiped for now.

[2016-09-18 15:26] #8 closed

[2016-09-18 15:56] #6 closed

[2016-09-25 22:04] BioPhoton opened #10 "implement top and bottom position of lable"

[2016-09-25 22:05] #10 closed

[2016-09-26 01:10] BioPhoton opened #11 "Implement optional icon as star"
- [x] provide a default value
  - [x] try to use font from browser for the star
- [x] test css for together with other modifier

[2016-09-26 01:12] BioPhoton opened #12 "implement custom icon classes"
- [ ] implement toWayBinded property
- [ ] implement logic in controller

[2016-09-26 03:05] #11 closed

[2016-10-23 16:33] BioPhoton opened #13 "implement basic scss variables"

[2016-10-23 16:34] #13 closed

[2016-10-23 19:10] BioPhoton opened #14 "create examples folder"
- [x] move current setup into example folder
- [x] remove demo code from src
- [x] refactore root webpack file

[2016-10-23 20:31] BioPhoton opened #15 "setup semantic release"

[2016-10-23 21:39] BioPhoton opened #16 "npm release"
- [x] release
- [x] ignore files

[2016-10-30 12:46] BioPhoton opened #17 "Test module as dependency in other project"

[2016-10-30 12:50] #17 closed

[2016-10-30 12:59] BioPhoton opened #18 "implement a changelog that works on all OS"

[2016-10-30 13:36] #16 closed

[2016-10-30 13:36] #14 closed

[2016-10-30 14:44] BioPhoton opened #19 "Restructure scss"
- [x] create scss folder
- [x] create _variables.scss file and move all scss var into this file
- [x] import new file in main file
- [x] adopt webpack config for new structure

[2016-10-30 15:00] BioPhoton opened #20 "Compress dist output"
- [x] remove scss comments
- [x] compress scss
- [x] compress js
- [x] remove js comments

[2016-10-30 15:14] #19 closed

[2016-10-30 15:15] #20 closed

[2016-11-13 03:18] BioPhoton opened #21 "Setup code coverage"
- [ ] Create report output in the console
- [ ] Create report as html
- [ ] Serve report

[2016-11-13 03:19] BioPhoton commented on #2
We move coverage to separate issue: #21

[2016-11-13 03:20] #2 closed

[2016-11-20 20:00] BioPhoton opened #22 "Create d.ts files"

[2016-11-20 20:01] #22 closed

[2016-11-22 01:19] BioPhoton opened #23 "star-img modifier"
- [x] Add another star type modifier of images
- [x] create sc5 docs for the modifier
- [ ] implement it in the component logic

[2016-11-22 01:34] BioPhoton opened #24 "setup bower releas"
- [ ] implement bower.json
- [ ] release bower lib

[2016-11-22 01:40] #24 closed

[2016-11-22 02:05] BioPhoton commented on #18
i stick with conventional changelog for now

[2016-11-22 02:05] #18 closed

[2016-11-23 16:14] BioPhoton opened #25 "half-star modifier"
- [x] implement css
- [x] implement half stars in component
- [x] implement custom callback function for the calculation of half or nort

[2016-11-23 23:05] #25 closed

[2016-11-27 02:06] #5 closed

[2016-11-27 04:07] #15 closed

[2016-11-28 16:54] BioPhoton opened #27 "separate css into extra repo"

[2016-11-28 18:24] #27 closed

[2016-11-28 18:25] BioPhoton commented on #23
skpi this task as we cant use colors easily

[2016-11-28 18:25] #23 closed

[2016-11-29 01:12] #9 closed

[2016-12-12 17:12] BioPhoton opened #33 "Adopt "&" bindings to better fit ng2 event emitters"
- [ ] implement Interfaces for the event object
- [ ] adopt callback functions in example for new event objs

[2016-12-12 17:14] BioPhoton opened #34 "implement setter for bindings"
- [ ] implement setters
- [ ] move defaults into setters

[2016-12-12 17:44] BioPhoton opened #35 "change color prop to statiColor and move color prop out of bindings"

[2016-12-16 11:45] BioPhoton commented on #3
I will implement this in the css Star Rating repository.

[2016-12-16 11:45] #3 closed

[2016-12-16 18:09] BioPhoton opened #36 "Change id binding from @ to <"

[2016-12-16 18:10] BioPhoton opened #37 "change binding name color to static color"

[2016-12-16 18:11] BioPhoton opened #38 "implement getter and setter for < bindings"

[2016-12-17 23:35] BioPhoton opened #39 "fix rating value higher than max number stars"

[2016-12-21 13:21] BioPhoton commented on #3
Hi @retallicka!

I'm not really done with the bundling and release process.
I could release an beta version were i ship just the ts files. They are quite ready...
Would this be ok for you?

You could also test the bundled version im my example folder. If it works i can do a real release...
PR is welcome!

[2016-12-21 13:28] retallicka opened #40 "Missing typings dependency?"
Using 1.0.15 I got

[code]

So to fix this I had to do

`npm install typings --global`

then it worked

[2016-12-21 13:32] BioPhoton commented on #40
What do you mean? I guess you just need this if you try to build it on your machine not when loading it from npm right?

Should i add this in the docs under a dev section?

[2016-12-21 13:44] retallicka commented on #40
@BioPhoton I did load it from npm to use in my project :) I think maybe `typings install` should be first, but I'm not sure

[2016-12-21 14:07] BioPhoton commented on #40
Thx. I released a new version. Many new features included. I also readme updated.
Its version 1.1.0 :-)

[2016-12-21 14:07] #40 closed

[2016-12-21 14:07] #33 closed

[2016-12-21 14:07] #34 closed

[2016-12-21 14:07] #35 closed

[2016-12-21 14:07] #36 closed

[2016-12-21 14:07] #37 closed

[2016-12-21 14:07] #39 closed

[2016-12-21 14:07] #38 closed

[2016-12-21 14:08] retallicka commented on #3
OK I will try using it and PR if I can

[2016-12-22 23:47] rajahu opened #42 ""npm i angular-star-rating" fails-installing the package if no "typings" module installed locally or globally"
"npm i angular-star-rating" fails-installing the package if no "typings" module installed locally or globally, just because, "npm postinstall" hook for the project says "typings install". I think that is required from project building prespective as it's written in 'typescript', but again this is something related to building the project itself and should be moved somewhere else out of "npm postin

[2016-12-23 16:12] BioPhoton commented on #42
Hi @rajahu. Thanks for your post.

I will remove the postinstall script as there are no other dependecies installed that need typings.

[2016-12-23 17:47] BioPhoton commented on #42
hey @rajahu,
there is a new version available. I implemented your suggestions. :-)

Thanks again for investigating time.

[2016-12-23 17:47] #42 closed

[2016-12-24 10:51] rajahu commented on #42
You're welcome :) !

[2017-01-08 00:13] alexdrans opened #44 "this.onUpdate is not a function"
Using the directive with the following options;

```<star-rating-comp rating="3" on-update="vm.yo()"></star-rating-comp>```

causes the error `` this.onUpdate is not a function`` to fire when it hits [this line](https://github.com/BioPhoton/angular1-star-rating/blob/master/src/star-rating.controller.ts#L220). Same happens without the on-update property.

Any ideas..?

ps nice repo

[2017-01-08 01:39] BioPhoton commented on #44
Hi @alexdrans!

I will check this asap! I'm back from hollydays at the end of next week.

If you have time you could try to find a solution in the meantime and pr it. 😉
Otherwise I will fix it in a week. 😀

[2017-01-13 02:56] BioPhoton commented on #44
I could not reproduce the bug.

What i did was:
- [x] refactored handling of all custom callback
- [x] implemented function spy's for all nearly all functions call in this component
- [x] updated example
- [x] created plunker of example
- [x] released new version on npm

Let me know if this was helpful.

[2017-01-16 00:09] BioPhoton commented on #3
added to npm under beta
package name and version: angular-star-rating@2.0.0-beta.0

[2017-02-02 17:09] BioPhoton commented on #44
Hi @Lennaert.

Will take a look asap!

Could you please post informations about the browser?

Thx

[2017-02-02 19:50] Lennaert commented on #44
Hi!
It's Chrome 55 on MacOSX.
Don't ASAP, take your time :-)

[2017-02-04 17:20] BioPhoton opened #51 "WARNING: Tried to load angular more than once"
This issue is created based on [this comment](https://github.com/BioPhoton/angular1-star-rating/issues/44#issuecomment-277016464).

I guess this is a build problem.

[2017-02-04 17:20] BioPhoton commented on #44
I have created a new issue for the "Tried to load angular more than once." warning here => #51

[2017-02-04 17:43] BioPhoton commented on #44
hi @Lennaert,

could you do me a favor and test the new dist files from this branch.
 [15-ng_load_more_than_once](https://github.com/BioPhoton/angular1-star-rating/tree/%2315-ng_load_more_than_once)

[2017-02-06 21:28] Lennaert commented on #51
Now I'm getting "`Uncaught ReferenceError: require is not defined`" in Chrome 55 on MacOS.

[2017-02-13 10:30] mathisloge commented on #4
having the same issue

[2017-02-16 15:22] TheCopartnery commented on #44
Hey, am also experiencing the same issue...

`v1.2.4: this.onUpdate is not a function`

`master: this.onRatingUpdate is not a function`

Switched over to the 15-ng_load_more_than_once brnach and now seeing the same error as Lennaert mentioned in #51

`Uncaught ReferenceError: require is not defined`

[2017-02-17 08:11] ghost commented on #6
Bug fixed itself after reloading the package next day. The module has appeared!
But 'dist' folder was absent. It looks like a joke! :)
Anyway it was easy to fix - I took the folder from the .zip

[2017-02-20 23:37] BioPhoton commented on #44
Hi @TheCopartnery.
Thx for your comment!
It seems like i have some wrong settings in my build process... Any input from your side?

[2017-02-22 16:55] ioanabote commented on #44
Having the same issue when using
 `<star-rating-comp ... on-rating-change="onRatingChange()"></star-rating-comp>`
Error is:
 `TypeError: this.onRatingChange is not a function`

[2017-02-22 22:26] BioPhoton commented on #7
Hi @aberezkin! Thx for your Post!!

Im totally with you. Currently i don't have best practice experience in trems of lib bundling in ng2. To be ohnest, since I switched to webpack also my builds with ng1 are not satisfying. So any help is welcome!!

I will try to get more time on this topic and deliver something that is satisfying for me.

[2017-02-22 23:24] aberezkin commented on #7
Here's the [post](http://blog.angular-university.io/how-to-create-an-angular-2-library-and-how-to-consume-it-jspm-vs-webpack/) that helped me to publish my first ng2 component library to npm.

[2017-02-23 14:15] BioPhoton commented on #4
Hi, I will rework the bulid process. Will keep you up to date.

[2017-02-24 17:00] TheCopartnery commented on #44
Hey. Just had a chance to test this with v1.2.7 and am sorry to report that I'm still getting the same onRatingChange error.

[2017-02-25 13:04] BioPhoton opened #53 "Fix plunker example"

[2017-02-25 15:19] BioPhoton commented on #53
fixed ts example in plunker: https://embed.plnkr.co/2tw2z7/

[2017-02-25 15:19] #53 closed

[2017-02-25 19:10] #44 closed

[2017-02-25 20:48] BioPhoton commented on #51
Ok, now its fixed in version 1.2.9. If there is sill a problem you can reopen the issue...

[2017-02-25 20:48] #51 closed

[2017-02-25 20:48] BioPhoton commented on #44
Should be working in 1.2.9

[2017-02-28 14:38] TheCopartnery opened #54 "Unable to specify custom location of star-rating.icons.svg"
Location defaults to "assets/images/" which is not usable for some web apps.

It seems the only way to change this is to alter star-rating.controller.ts and compile to javascript.

How would I specify a custom location (ideally for the pre-compiled js version) that persists between package updates as star-rating.controller.ts will get overwritten?

Alternatively should give up on using SVGs and ju

[2017-02-28 21:00] Lennaert commented on #44
This is awesome @BioPhoton It's working great now, thank you for all your efforts!

[2017-03-07 15:05] savchukm commented on #8
+1

[2017-03-10 13:11] tejasrivastav opened #55 "Value not changing on Hover"
![Image of readme](https://raw.githubusercontent.com/BioPhoton/angular1-star-rating/master/resources/example-usage.gif)

As shown in the image the value of the star comp changes on mouser over of the star and value is set on click.
But the default behaviour is not the same.

Any config/ workaround to achieve it ..?

[2017-03-13 10:02] BioPhoton commented on #55
Hi @tejasrivastav ,  these are no hovers but clicks! In the css version is this feature aleardy implemented. So it is easy to implement it here too. You could do a PR. 😁

Otherwise I can implement this in about 3 weeks.

Thanks for commenting!

[2017-03-15 22:12] rognstad opened #56 "1.2.9 not available via bower"
Hi,

It looks like version 1.2.9 isn't available via bower. I see it in npm and github, though.

Thanks,
Matt

[2017-03-27 06:14] ianchute commented on #5
@athoma13  Have you found a solution for this? I was able to use the component successfully for a few days. When I reinstalled all my nodules in a different machine it doesn't seem to work anymore.

@BioPhoton Hope you can help us :(

[2017-03-28 07:01] ianchute commented on #5
I was able to _workaround_ the problem by doing the following:

1. `rm -rf node_modules/angular-star-rating/node_modules`
2. comment out line 15 (moduleId: module.id) of node_modules\angular-star-rating\src\star-rating.component.ts

[2017-03-28 11:30] athoma13 commented on #5
Nope,

I gave up on this... created my own. (which isn't as versatile, but does
the job for what I needed)...

On Mon, Mar 27, 2017 at 4:14 PM, Ian Chu Te <notifications@github.com>
wrote:

[2017-04-06 16:23] BioPhoton commented on #9
Hy @savchukm!

I updated a lot of bindings in the latest version. But in your case it was a docs issue. It's actually [staticColor]. Not [color]. Sry for this...

Please let me know if it works for you.

[2017-04-06 16:25] BioPhoton commented on #7
Hi @aberezkin,

in the latest version are also js files and the related maps provided next to the ts files.

I used the yeoman angular2-library generator as i hope it will be updated frequently...

Feel free to reopen this issue if there is a need.

[2017-04-06 16:27] BioPhoton commented on #5
Hi, @athoma13, @ianchute!

Sry for my long delay. I was on a log trip....

I released a new version. Also the docs are updated. And i added and updated example folder which shows the usage in code.

This update should alse solve #4 as my example is created with the latest cli.

Please let me know if it works now.

[2017-04-06 16:29] BioPhoton commented on #4
Hi @jspenc72 ans @mathisloge!

I released a new version and in the example folder i use the lib in a cli project. Also the readme is updated.

If the issue still persists feel free to reopen it.

[2017-04-06 16:29] BioPhoton commented on #9
feel free to reopen it...

[2017-04-06 17:00] BioPhoton commented on #8
hi @savchukm  and @ghost!

Everything should be working in the latest release.

Please check it and give me feedback or reopen this issue it the error is still occurs.

[2017-04-07 12:10] Zoly90 commented on #5
I just checked it, I had to download the zip version and put it manually in the node_modules folder.
So it did not work with the npm install version. But unfortunately it is still not working by using the star-rating-comp tag, it is obvious that something is there and you can see it in inspect too but there is nothing on the browser (using Chrome).
On the other hand, the css version of this projec

[2017-04-07 14:44] BioPhoton commented on #5
Hi @Zoly90 ,
I'm not sure why your npm install is not working. if i do ```npm install angular-star-rating@2.0.0-rc.5 --save``` everything is in the ```node_modules/angular-star-rating``` folder.

The other problem "invisible component" is that you forgot to copy the star icons into your assets folder.

I updated the [install guide](https://github.com/BioPhoton/angular-star-rating/blob/master/READM

[2017-04-07 19:02] BioPhoton opened #58 "Move logic for classNames from template to controller"
Currently the logic for generating the class names is placed in the template and is pretty clumsy there.

Things to do:
- [x] reate a getComponentClassNames() :string function and rebuild the template logic there
- [x] use the created function in the template

[2017-04-07 21:16] #55 closed

[2017-04-07 21:16] #58 closed

[2017-04-07 21:18] BioPhoton commented on #56
Closed as there a a newer version on bower.

[2017-04-07 21:18] #56 closed

[2017-04-08 09:57] Zoly90 commented on #5
Thank you for your advice @BioPhoton, but unfortunately it is still invisible :(. Maybe I will be able to make it work at a later time.
Best of all,
Zoli

[2017-04-08 14:40] BioPhoton commented on #5
Hi @athoma13.

As i described in the readme you can import the library as follow:

[code]

[2017-04-11 20:59] BioPhoton commented on #10
Note: To enable focus events on non inputs like div's we can use the ```tabindex``` attribute.

Set the ```tabindex ```to:
- **0** allows the element to receive mouse-clicks and keyboard events (tab key) to  assign focus
- **-1** allows the element to receive mouse-clicks only to assign focus

[code]

[2017-04-12 02:55] BioPhoton commented on #5
I updated the docs once more. Guess it's pretty clear now. Also 2.0.0 is out, so i will close it.
Feel free to reopen the issue.

[2017-04-12 14:41] BioPhoton commented on #16
Could you provide code snippets or so?

thx!

[2017-04-14 12:12] BioPhoton opened #61 "Add contributors"
Add @rajahu and @chemicalbr as collaborators to the project.

- [ ] add to readme.md
- [ ] add to package.json
- [ ] add to repo on github

[2017-04-25 14:07] rsjunior commented on #9
Still not working for middle color

[2017-04-25 15:54] BioPhoton commented on #9
Sry i changed the name to "ok" a while ago and forgot to update this line in the docs... *blush*

You can check it here: https://github.com/BioPhoton/angular-star-rating/blob/master/src/star-rating-struct.ts#L2
and here: https://github.com/BioPhoton/css-star-rating/blob/master/src/scss/_variables.scss#L16

best,
michael

[2017-04-25 16:36] rsjunior commented on #9
hi michael!

tks, "ok" works

[2017-04-27 07:51] BioPhoton commented on #17
As a quick fix you could exclude the lib from linting.
 I will see if I find time in the next days.

[2017-04-29 07:10] rubyboy commented on #9
"ok" worked. Should probably update docs :)
Thanks heaps for this library!

[2017-04-29 07:55] BioPhoton commented on #18
Hi @rubyboy! Thx for your Tine and Interesst in this lib. I will remove it. Asap.

Best Michael

[2017-04-29 08:17] BioPhoton commented on #16
Hi @param-bnb.

Hope you could solve your problem. I will close this issue now.
Please feel free to reopen it if there is a need to.

[2017-04-29 12:26] BioPhoton commented on #15
also implement onHoverRatingChange emitter

[2017-04-29 13:56] BioPhoton commented on #18
fixed in version 2.0.3

[2017-04-29 13:57] BioPhoton commented on #17
fixed in version 2.0.3

[2017-04-29 13:57] BioPhoton commented on #15
fixed in version 2.0.3

[2017-04-29 14:05] rubyboy commented on #18
@BioPhoton thanks for much for the prompt response and for the awesome lib.

[2017-04-29 19:31] BioPhoton commented on #18
Welcome!

[2017-04-30 19:19] calebfaruki commented on #54
Definitely need this. My project pulls in the index.js file from `node_modules`.

[2017-05-01 06:56] sguddati commented on #21
Any response please

[2017-05-01 09:01] BioPhoton commented on #21
Hi @sguddati!

Thx for you issue.
I guess you think this is a chat :-). My responses willl take some time.

You could try to follow the installing guild in the readme and if if works change it to this.

I can see that you output only the <i> tags. try to add [starType]="svg". This coud help.
In the mean time i will try to create a default version of this lib that don't require any asset...

Best,

[2017-05-02 06:10] BioPhoton commented on #22
Hy!

Atw I have no clue why...  Will have a look later this week.

[2017-05-08 14:40] JustinSchneider commented on #22
Hey, @BioPhoton. Any luck with finding a cause of this?

[2017-05-08 14:49] BioPhoton commented on #22
Hi!

Sry, currently no time... For me it looks like a typing Problem. Did you run lint? What does linting say?

[2017-05-09 15:34] xerotolerant commented on #21
hey, the readme.md file has
`[startype]="'svg'"]` rather than `[starType]="'svg'"` It was not working for me without the uppercase 'T'

[2017-05-09 19:33] BioPhoton commented on #21
Hi @xerotolerant,

Nice catch! I will try to fix this in the next week.

Best,
Michael

[2017-05-14 12:48] BioPhoton commented on #24
Hi @ersurajnegi,

You could enable keyboard navigation and set step to 0.5. But not with clicking...
It is also not planed to implement this.

[2017-05-17 18:04] ScottBouloutian commented on #25
I couldn't use this package since it does not target ES5 :(

[2017-05-23 13:51] eyalhakim commented on #22
I'm running into the same problem, would love to know if any of you finds the solution.
My lint doesn't show any errors btw.

[2017-05-23 16:43] BioPhoton commented on #22
Do you Guys use the ts Files or the Compiler js Files?

[2017-05-23 16:49] JustinSchneider commented on #22
@BioPhoton I'm not sure how to answer that. It's an angular-cli project (using webpack, but indirectly). Locally I run 'ng serve' (JIT), while our build server does AOT, and that's where the problem shows up. I can replicate this by running our 'ng build -prod' command locally, but beyond that I can't really say.

Still learning a lot of this stuff, unfortunately.

[2017-05-23 17:02] BioPhoton commented on #22
Hi! Very fast reply!!!  😎

So how do you Import the lib?

Please Show me the Line of Code... The Import Statement or so...

THX!

[2017-05-23 17:07] JustinSchneider commented on #22
In app.module.ts:
`import { StarRatingModule } from 'angular-star-rating';
@NgModule({
  declarations: [
    ...
  ],
  imports: [
    StarRatingModule
  ]
})`

And then in my component:
`<star-rating-comp
  [starType]="'svg'"
  [numOfStars]="10"
  [size]="'large'">
</star-rating-comp>`

Is that what you needed?

[2017-05-23 17:34] BioPhoton commented on #22
Yes! Just want to make shure that u use the ts Files.. have to try something. Im back home in 3h I guess....

Just for interest, could you try to Reference the ts Files directly? I guess it's angular-star-rating/src/...module

[2017-05-23 22:02] eyalhakim commented on #22
@BioPhoton tried it now, same result :/

[2017-05-23 22:18] BioPhoton commented on #22
Thx for trying. Have to look this up!

Best,
Michael

[2017-05-24 07:36] eyalhakim commented on #22
No problem!

Would really appreciate it if you could get to it soon.
It would be a great deal of help!

Thank you

[2017-05-28 20:38] BioPhoton commented on #24
Feel free to open it again.

[2017-05-28 20:40] BioPhoton commented on #21
Hi @xerotolerant! I updated it. It will be in the next release. :-)

[2017-05-28 20:44] BioPhoton commented on #23
Hi @morningdew830. You run the linting in the example folder, not in the src folder.
I do not release the examples in the npm package. Consider it as a nice to have thing which does not go conform with the released package code quality.

Feel free to open this issue again. :-)

[2017-05-28 22:08] BioPhoton commented on #25
What exactly is the issue? I tested it quickly and for me it worked...

[2017-05-29 21:00] mhjmaas commented on #22
It seems you need to modify line 52 in the angular-star-rating sourcecode:

 from:

`(mouseleave)="onStarHover()">` to `(mouseleave)="onStarHover($event)">`

AOT compilation needs to match these parameters exactly to be able to do efficient tree shaking I believe. At least when I edit this line, everything starts working fine again. :)

[2017-05-29 21:46] BioPhoton commented on #22
Hi @mhjmaas !
BIG THX for your help!

Enjoy AOT in version 3.0.0 on npm

:-)

[2017-05-30 09:23] eyalhakim commented on #22
Thank you both!

[2017-05-31 09:02] pdtoloza commented on #25
the problem is that the transpiled code has ES6 reserved words, like "class", which are not supported in IE11 ([https://kangax.github.io/compat-table/es6/#ie11](https://kangax.github.io/compat-table/es6/#ie11))

[2017-05-31 13:37] ScottBouloutian commented on #25
Essentially the same issue on my end, except it was failing for me in PhantomJS, which I am using to run my tests.

[2017-06-12 17:43] jac1013 commented on #25
Hey guys, any workaround for this at the moment?

[2017-06-12 22:42] BioPhoton commented on #25
Why don't you use the ts files and do the compiling yourself. Just include the ts files in a file and your build task will bundle it with the rest of the app.

[2017-06-12 23:35] jac1013 commented on #25
That is the _not lazy solution_, yes, that's what I'll do, thanks!

[2017-06-12 23:56] BioPhoton commented on #25
Hi @jac1013!
Fyi it's on the Roadmap 😉. Currently just no time. Sry!

If you could you do me a favour and create a PR for #19 I would merge it. 😋

[2017-06-15 16:18] BioPhoton commented on #25
Hi @jac1013!

Any updates from your side about the PR?

[2017-06-15 16:23] jac1013 commented on #25
Hey @BioPhoton, I plan to work on this later (probably this weekend), what do we exactly need here? changing all the TS files in the distribution to be compiled in ES5? Just double checking that we are in the same page.

[2017-06-15 16:51] BioPhoton commented on #25
Wow! Sounds great!

I guess if we just upgrade the build tooling. See #19. Everything should be Fine with the next Version.

Thx
Michael!!!

[2017-06-27 17:01] clabnet opened #62 "Remove console.log on 'onStarHover' event"
Please remove the console.log message from dist and src.
Thanks, very good work.

[2017-06-28 13:25] jlkeiper commented on #19
What are the specifics for updating the bundling? I am dealing with #25 and would love to contribute.

[2017-07-05 22:46] BioPhoton commented on #34
Hi @thib92, Thanks for your issue!

This is actually a duple of #33 so i close it because of redundancy.

[2017-07-07 22:40] BioPhoton commented on #19
Hi @jlkeiper ,
I updated the tooling. Please check if you still have the es5 error.

Best Michael

[2017-07-07 22:40] BioPhoton commented on #13
Hallo travis!

[2017-07-07 22:41] BioPhoton commented on #14
Hello jasmine!

[2017-07-07 22:42] BioPhoton commented on #25
Hi all!

I updated the tooling => #19

Could you pleases check if the es5/6 error is still present?

Best
Michael

[2017-07-07 22:44] BioPhoton commented on #33
Hi @chendzng ,
there is a new version out. please check if the bug still exist.

Best Michael

[2017-07-11 19:22] thib92 commented on #33
@BioPhoton works fine with latest update, thanks a lot 😄

[2017-07-11 20:54] BioPhoton commented on #33
NICE! So i close this one...

[2017-07-19 17:18] MohsenAra commented on #38
i have same issue

[2017-07-19 17:22] alex88 commented on #38
@MohsenAra I think the library isn't supposed to do that, you should use `onHoverRatingChange` to get a temporary value, set it to the component and when the `$event` you receive from `onHoverRatingChange` is null, restore the old value

[2017-07-20 06:32] MohsenAra commented on #38
Thanks man
that is ok , like this

`
        this.starRatingConfig.onHoverRatingChange = ($event: IStarRatingIOnHoverRatingChangeEvent) => {
            if ($event.hoverRating) {
                if (!this.tmpRate)
                    this.tmpRate = this.content.rate;
                this.rate = $event.hoverRating;
            } else {
                this.rate = this.tmpRate;
                this.

[2017-07-26 17:42] karol-depka commented on #39
Is it possible for the user to select a half-star?
That would help me a lot.
Thank you.
EDIT: I mean for the user to *directly* select e.g. 3.5 rating via mouse/tapping using this component.

[2017-07-27 00:14] BioPhoton commented on #39
Hi. No it is only possible over keybord as you know already. THX again for you PR!!

I dont think this is good UX as the star size could change and the user could miss click it. I alos will port this to inoic3 and implement drag. Touch and drag a halfstar is not really nice... At least in my view.

[2017-07-27 00:15] BioPhoton commented on #39
Maybe i will implement it in the future. but at the moment a don't have time...
And if i have time i would start with tests and refactoring instead of new features.

[2017-07-27 17:48] BioPhoton commented on #39
@karol-depka
If you could provide a concept for this feature it may help. I will try to start refactoring soon and then looking at this feature.
Best Michael

[2017-08-16 21:43] BioPhoton commented on #40
1. i guess you should use ["] around the rating property.
2. Half stars on click is not supported for now.

Feel free to reopen this issue if needed

Best Michael

[2017-08-26 15:15] sergey-morenets commented on #42
+1

[2017-09-07 08:59] BioPhoton commented on #53
Hi @MrHOY !

Could you solve your issues? Maybe you forgot to include the scss file.

[2017-09-07 09:02] MrHOY commented on #53
@BioPhoton
Yes, have to insert to index.html:
 `<link rel="stylesheet" type="text/css" href="node_modules/css-star-rating/dist/css/star-rating.min.css">`

[2017-09-07 14:09] hristijan5 commented on #51
So my guess is that half star only works with svg. Should I remove this issue? Thank you!

[2017-09-07 15:13] BioPhoton commented on #51
Hi @hristijan5 thanks for the update!!

Yes half stars works only for svg or iconfonts.

To enable half stars for default icon too i have to update the css-star-rating lib for cutting the icon div with overflow hidden.

I will try to update the docs this weekend.

If you want to help me you could take a look at this issue: https://github.com/BioPhoton/css-star-rating/issues/29

[2017-09-08 00:04] BioPhoton commented on #51
Hi @hristijan5
I updated the readme and setup wiki pages.
I also mentioned that half stars are only available in combination with starType svg.

https://github.com/BioPhoton/angular-star-rating/wiki/Property-Bindings#control-modifier

If there is a need feel free to reopen the issue

Best Michael

[2017-09-08 06:35] hristijan5 commented on #51
Thank you  @BioPhoton. If I can find some free time I may help you with the CSS. cheers!

[2017-09-18 09:34] nbtai commented on #56
I'm sorry, I didn't read the close issues before make this issue. I found it in the node_modules dependencies already.

[2017-10-03 18:09] BioPhoton commented on #54
You can edit the scss vars.
Take a look at this line: https://github.com/BioPhoton/css-star-rating/blob/master/src/scss/_variables.scss#L8

[2017-10-04 08:44] BioPhoton commented on #58
Hi @WuglyakBolgoink,
At the moment not. If you really need html in the label section wrap the star rating in your own component and receive value changes over the event binding.

Hope it helps.

best,
Michael

[2017-10-22 17:19] denisacostaq opened #63 "Angularjs material - themeProvider for star color."
Hello,
is possible to set the star color based on the mdThemeProvider?
https://material.angularjs.org/1.1.5/demo/colors
Thanks

[2017-10-22 17:34] BioPhoton commented on #4
Wontfix

[2017-10-22 17:34] #4 closed

[2017-10-22 17:34] BioPhoton commented on #21
Wontfix

[2017-10-22 17:34] #21 closed

[2017-10-23 13:49] PauloGaldo commented on #54
i've set star-type="'icon'" and this problem get solved

[2017-11-14 23:11] BioPhoton commented on #61
Hi @Parez !
Thx for the issue! I forgot to mentions that there is a setting in the scss file...
[maxNumOfStars](https://github.com/BioPhoton/css-star-rating/blob/master/src/scss/_variables.scss#L8)
You can easily override this number over the scss vars and done.

I have to update the docs with this information.

I hope it helps.

best,
Michael

[2017-11-16 07:17] BioPhoton commented on #62
Easy, just override the css.

Best Michael

[2017-11-23 14:28] flarpy opened #65 "Rating and number of stars"
<star-rating-comp
                            num-of-stars="10"
                            rating="10"></star-rating-comp>

The above shows 5 stars, instead of ten.

Changing r.DefaultNumOfStars to 10 fixes the issue but it needs fixing in the source

[2017-12-15 06:04] visibleajay commented on #61
HI @BioPhoton,

Thanks for providing us a beautiful star rating application.

I am using star rating in my application but maximum no of stars getting selected is only 5. I have checked it by overriding the var in css-star-rating.css variable file and also by creating the same var in styles.scss file. Though I am just updating a single variable maxNumOfStars.

Any Help is Appreciated.

Regards
Aja

[2017-12-18 21:55] ghost commented on #61
Same problem here. Hope this can be resolved.

[2017-12-18 22:19] BioPhoton commented on #61
Did you try to do it like this?

https://github.com/BioPhoton/angular-star-rating/wiki/Customizing-Styles

[2017-12-18 22:27] ghost commented on #61
https://github.com/BioPhoton/angular-star-rating/wiki/Customizing-Styles

Thanks for your answer @BioPhoton this is how my code looks like. I'm using Angular 5 btw

[code]
[code]

[2017-12-18 22:45] BioPhoton commented on #61
Hmm, try to import from css-star-rating

[2017-12-18 22:49] ghost commented on #61
I don't know what import you mean exactly. The scss should be loaded correctly since the stars are all displayed, only the behaviour is odd at times.

EDIT: I guess you meant your other repo BioPhoton/css-star-rating and link to the star-rating.scss there?

EDIT2: I copied the scss files to a local folder and imported them like this:
[code]

Still the same behaviour.

[2017-12-21 05:48] BioPhoton commented on #61
Did it work with the other import path?

[2017-12-21 10:46] ghost commented on #61
Sadly it didn't. I edited my previous comment before with more info.

[2017-12-21 10:51] BioPhoton commented on #61
Strange... The color override works. Will check it...
Thx for your time!

[2017-12-21 10:55] ghost commented on #61
Thanks mate!

[2018-01-10 10:46] manandkumaar commented on #55
I am also facing this issue.
Is there any work around for this issue?.

IE 11
Windows 7

[2018-01-10 19:41] gulamabbas commented on #61
Having the same issue, any updates about it?

[2018-01-18 22:03] samuelna commented on #61
Tried the css override. Having same trouble as others. Any rating value over 5 are not fully filled to that value.

Did bit of experimenting. Went into `node_modules/angular-star-rating/index.js` and modified the `this.numOfStars` to the desired number and it worked. But don't know how to change that config in app component so the change always get overwritten when doing `npm install`

[2018-01-22 20:05] j-walker23 commented on #67
I guess i should ask first. Would this lib have any issues with angular 5?
If not, then this can be closed.
I didn't use angular 4 so i don't know the differences.

[2018-02-08 19:27] solkaz commented on #67
Used this package on Angular 4 and 5, there were no problems when we upgraded. So this _should_ be safe.

[2018-02-09 18:07] j-walker23 commented on #67
Awesome, thank you @solkaz.

[2018-02-18 13:08] warjohn123 opened #67 "WARNING: tried to load angular more than once"
I'm currently using Fuse Angular Material JS boilerplate and when I'm adding this:
<script src="https://cdn.rawgit.com/BioPhoton/angular1-star-rating/v1.2.4/dist/index.js"></script>

to my index.html, it gets "WARNING: tried to load angular more than once:

[2018-02-18 13:35] BioPhoton commented on #67
Hi! Thanks for your feedback.
Try to install the latest version. It should work.

Best Michael

[2018-02-18 13:35] #67 closed

[2018-02-18 13:37] BioPhoton commented on #63
Thanks for your question.
You can override the css.

Best Michael

[2018-02-18 13:37] #63 closed

[2018-02-19 01:48] warjohn123 commented on #67
I currently have version 1.2.11 and it's not working :(

[2018-02-19 07:04] BioPhoton commented on #67
What is the problem? Could you give me some error logs or so?

Thanks!

[2018-03-13 11:16] rbleuse commented on #67
Yes it works, but we can't shrinkwrap dependencies because of this error :

[code]

[2018-03-13 12:51] todorivanov commented on #61
I'm having the same issue. It seems to be happening when using an NgFor or some iterations. If you use the component outside any iterations it works okay.

EDIT: Well, apparently sometimes the change detection doesn't go as planned and the `numOfStars` property is not changed properly.

[2018-03-14 11:58] todorivanov commented on #61
@BioPhoton I've placed a Pull Request with a fix for this bug, you can check it out here
[HERE](https://github.com/BioPhoton/angular-star-rating/pull/75)

[2018-03-14 22:24] BioPhoton commented on #61
THX @todorivanov for investing time and energy into this bug!! <3
I will give it a try on the weekend!

[2018-03-19 11:48] todorivanov commented on #61
@BioPhoton Any news on it?

[2018-03-30 15:01] BioPhoton commented on #61
Should be fixed in the latest version. I set the default number if start to 13.
I also created a demo, you can test it [here](https://biophoton.github.io/angular-star-rating).

More stars can be accomplished by editing the css-star-rating lib

[2018-03-30 15:10] BioPhoton commented on #63
Could you explain it in more detail?

[2018-04-02 09:19] BioPhoton commented on #63
Should be working in the latest version.

[2018-04-12 12:29] Assdi commented on #68
install this version and follow the step @kevinding0218
"angular-star-rating": "3.0.8",
"css-star-rating": "1.1.3"

[2018-05-15 20:39] allout58 commented on #61
Issue is still not resolved for hovering stars. css-star-rating does not mark maxNumOfStars as default, so setting the variable before importing the library does not work as expected. I have submitted a PR to css-star-rating to remedy this.

[2018-05-17 20:12] frankmacd1 commented on #55
IE 11
Win 7
The stars aren't even appearing.   same page viewed in Chrome Version 66.0.3359.181 (Official Build) (64-bit) is working as expected.. no issues

I had someone view the page using Edge on a Win10 box..  stars appeared, but you to had triple click to get a rating to take.

No errors appear in console in IE.

[2018-09-18 12:43] elliotthill opened #68 "onStarHover?"
It seems the show hover stars is no longer working. show-hover-stars="true" does nothing. Where is the documentation for how this works?

See:
https://run.plnkr.co/plunks/2tw2z7/

[2019-01-02 02:35] ericel commented on #40
Is there any plan to support the half-rating event?

[2019-02-16 17:08] eagor commented on #10
when in `readOnly` mode, it would make sense to remove it from from tabbing order?

[2019-04-12 09:54] tania686 commented on #55
IE 11
Win 10

@BioPhoton are there any updates on that issue?
The issue still exists.
Even your demo page isn't displayed on IE11.

Please advise.
Thanks

[2019-09-20 11:19] antonsamper commented on #55
There's a few options to get it working in IE11:
1. Use starType icons `<star-rating starType="icon">`
2. Use a polyfill to fix the svg reference https://github.com/jonathantneal/svg4everybody

The issue is that IE11 doesnt support the `<use>` tag inside SVGs with an external ref.
[code]

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use

[2021-08-17 13:57] saineshmamgain commented on #54
Hi can we implement this feature please

[2022-01-02 03:24] BioPhoton commented on #55
Close as obsolete :)